@model System.Linq.IQueryable<IGrouping<Int32,Ambulance.ill_history>>

<div id="searchresults">
    @{
    string[] months = new string[] { "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август",
        "Сентябрь", "Октябрь", "Ноябрь","Декабрь"}; 
}
    <h3>Пациенты поступившие в стационар в @Model.First().First().Date_in.Year году</h3>
    <table >
        <thead>
            <tr>
                <th>Месяц</th>
                <th>Пациенты </th>
            </tr>
        </thead>
    @foreach (var item in Model)
    { 
        <tr style="background-color:#ede9e9">
            <td>
             @months[item.Key]
            </td>
              <td><table style="background-color:#ede9e9">
                @foreach(var ill in @item){
                      <tr><td>@ill.PName</td></tr>
                      }

                  </table></td>
        </tr>
    }
    </table>
        
</div>
