@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование</h2>


    <ul>
        <li>@Html.ActionLink("Редактирвание мед. сестер","Index","MsistersEdit")</li>
        <li>@Html.ActionLink("Редактирование врачей","Edit","DoctorsEdit")</li>
    </ul>

<br/><br/>
<div align="center"><small>@Html.ActionLink("Назад","AfterLoginAdmin","Home")</small></div>