@{
    ViewBag.Title = "AfterLoginMsister";
}

 <small><i>Welcome @Session["LogedUserName"].ToString()</i></small><br />


<h2>Меню запросов</h2>


    <ul>
        <li>@Html.ActionLink("Разгрузка палат","PalUnload","Msister")</li>
    </ul>

<br/><br/>
<div align="center"><small>@Html.ActionLink("Выход","LogOff","Home")</small></div>